
.row1 {
    border: 0px !important;
    background: none repeat scroll 0 0 #EDF3FE !important;
}

.row2{
    border: 0px !important;
    background: none repeat scroll 0 0 #FFFFFF !important;
}

input.active, textarea.active{
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #CCCCCC !important;
}

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.exthead {
  left: 0;
  position: relative;
  top: -6px;
  z-index: 10;
}

.exthead strong {
  font-size: 11px;
  left: 0;
  /* padding-right: 10px; */
  position: relative;
  top: 5px;
  z-index: 10;
}

.vTextField {
    width: 250px !important;
}

.align-left {
    width: 300px !important;
}

.align-right {
  /*  position:relative;
  right:0px; */
  padding-right:20px;
  text-align: right !important;
  width: 30px !important;
}

.rule-ruledata {
  /* width: 95% !important; */
}

.add-categories {
    background: url("/static/admin/img/admin/icon_addlink.gif") no-repeat scroll 0 50% transparent !important;
    font-size: 11px;
    outline: 0 none;
    padding-left: 14px;
}

.add-rulekeys {
    background: url("/static/admin/img/admin/icon_addlink.gif") no-repeat scroll 0 50% transparent !important;
    font-size: 11px;
    outline: 0 none;
    padding-left: 14px;
}

.add-rules {
    background: url("/static/admin/img/admin/icon_addlink.gif") no-repeat scroll 0 50% transparent !important;
    font-size: 11px;
    outline: 0 none;
    padding-left: 14px;
}

.new {
    background: #FEC !important;
    border: 1px solid #FB2;
}

.th {
    display: table-cell;
    width: 1000px;
    background: url("/static/admin/img/admin/nav-bg.gif") repeat-x scroll left top #E1E1E1;
    border-bottom: 1px solid #DDDDDD;
    color: #666666;
    font-size: 11px;
    padding: 2px 5px;
    font-weight: bold;
    text-align: left;
}

.td {
  cursor: auto;
  display: table-cell;
  /* padding-left: 18px; */
  width: 1000px;
  position: relative;
  /* float: left; */
  font-size: 11px !important;
  border-bottom: 1px solid #CCCCCC;
}

.tr {
  /* border: 1px solid #CCCCCC; */
  width: 100%;
  /* padding-left: 0px; */
  padding: 0px !important;
  margin: 0px !important;
}

.expand {
    background-image:url('/static/rms/img/arrow.png');
    background-repeat:no-repeat;
}

.slug {
    border: 1px solid #CCCCCC !important;
    background: #EEEEEE;
}

.categories {
  padding-left: 20px;
}


.rulekeys{
  padding-left: 20px;
}

.rules{
  padding-left: 20px;
}

.ruledata{
  padding-left: 20px;
  border-bottom: 4px solid #AAA;
}

ul li{
  list-style-type:none;
  cursor: auto;
  /* padding: 0; */
}

ul{
  list-style-type:none;
  cursor: auto;
  padding: 0;
}

